
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-info">Statik Pdf Raporu</a>
<a href="/PdfReport/StaticCustomerReport" class="btn btn-outline-primary">Statik Tablo Pdf Raporu</a>

