@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Şehir - Ülke İşlemleri</h1>

<button type="button" id="btngetlist" class="btn btn-outline-info">Şehir Listesi</button>

<br />
<br />

<div id="citylist">
    Şehir listesi gelecek.
</div>


<script>

    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr> <th> Şehir ID </th> <th> Şehir Adı </th> <th> Ülke Adı </th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.CityID}</td> <td>${value.CityName} </td > <td>${value.CityCountry}</td></tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    })

    

    

</script>



